{% extends 'base.html' %}

{% block title %}Login in{% endblock %}

{% block content %}
<div class="container">
    <div class="formcontainer">
        <form method="post" action=".">
            {% csrf_token %}
            <h4 class="mb-3">Log in</h4>
            {{ form.as_p }}

            <div class="field">
                <div class="control">
                    <button class="button is-dark is-uppercase">Log in</button>
                </div>
            </div>
            <br>
            <a href="{% url 'register'%}">Create account</a>
        </form>
        <hr>

    </div>
</div>

{% endblock %}