{% extends 'base.html' %}
{% block title %}Become user | {% endblock %}

{% block content %}
<div class="container">
    <div class="formcontainer-left">
        <form method="post" action=".">
            <h3 class="title">Become user</h3>
            <br>
            {% csrf_token %}

            {{ form.as_p }}

            <div class="field">
                <div class="control">
                    <button class="button is-dark is-uppercase">Sign up</button>
                </div>
            </div>
            <br>
            <h4 class="subtitle">Already have an account?</h4>

            <a href="{% url 'login'%}">Log in</a>
        </form>

        <hr>

    </div>
</div>

{% endblock %}