.olist-logo {
    width: 8%;
    min-width: 80px;
    padding: 1%;
    padding-left: 2%
}

body {
    background-color: #EAEAF4;
}

.add-btn {
    margin-left: 2%;
}

.container {
    margin: 0 auto;
    text-align:center;
    display: flex;
    justify-content: center;
}

.formcontainer {
    margin: 7%;
    width: 45%;
    padding:6%;
    display: flex;
    justify-content: center;
    text-align: end;
    background-color: white;
    border-radius: 20px;
}

.formcontainer-left {
    margin: 7%;
    width: 45%;
    padding:6%;
    display: flex;
    justify-content: center;
    text-align: start;
    background-color: white;
    border-radius: 20px;
}


.maintitle {
    margin-left: 2%;
}

@media screen and (max-width: 800px) {

    .formcontainer {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {

    .formcontainer {
        width: 70%;
        background-color: transparent;
    }
}